

body{
    background-color: #000000;
    background-image:url('Images/Bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  
}

.Upgrade_buttons{
    display: flex;
    position: relative;
    width: 500px;
    height: 100px;
    left: 80%;
    position: relative;
    display: inline-block;

}

#Click {
    width: 266px;
    height: 272px;
    left: 2600px;
}

#Upgrade {
    width: 500px;
    height: 100px;
    
}

