

body{
    background-color: #000000;
    background-image:url('Images/Bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  
}

.Upgrade_buttons{
    display: flex;
    position: relative;
    width: 500px;
    height: 100px;
    left: 80%;
    position: relative;
    display: inline-block;

}

#Click {
    width: 272px;
    height: 266px;
    left: 2600px;
}


.Upgrade_buttons button{
    width: 500px;
    height: 250px;
    
}


.button_container {
    display: flex;
    flex-direction: row;
    
}

.Uac_cont{
    display: flex;
    flex-direction: row;
}

.Uac_cont{
    display: flex;
    flex-direction: row;
}

.Uhg_cont{
    display: flex;
    flex-direction: row;
}

.Uc_cont{
    display: flex;
    flex-direction: row;
}

.Umb_cont{
    display: flex;
    flex-direction: row;
}

.Uram_cont{
    display: flex;
    flex-direction: row;
}

.Ucpu_cont{
    display: flex;
    flex-direction: row;
}

.Ucc_cont{
    display: flex;
    flex-direction: row;
}

.Ugc_cont{
    display: flex;
    flex-direction: row;
}

.Upsu_cont{
    display: flex;
    flex-direction: row;
}

.Ucp_cont{
    display: flex;
    flex-direction: row;
}

.Ubt_cont{
    display: flex;
    flex-direction: row;
}

img{
    width: 300px;
    height: 250px;
}

